<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
</head>

<body>

  <header th:fragment="cabecalho" class="header-custom text-white p-3 mb-4 text-center">

    <h1>ASSISTÊNCIA PARA AULA DE REDES 💬</h1>

    <nav class="header-nav mt-2">
      <a href="#" class="btn btn-outline-light btn-sm">
        <i class="fas fa-user-graduate"></i>
        SOU ALUNO
      </a>
      <a href="#" class="btn btn-outline-light btn-sm">
        <i class="fas fa-chalkboard-teacher"></i>
        SOU PROFESSOR
      </a>
    </nav>

  </header>

</body>

</html>